
@{
    ViewData["Title"] = "CauseDetail";
    Layout = "~/Views/Shared/_LayoutSignIn.cshtml";
}

<h1>Details</h1>
<div class="card d-flex justify-content-center">
    <div class="card-body">
        <ul class="list-unstyled">
            <li>Fundraiser by @ViewBag.frname</li>
            <li>Reason : <div>@ViewBag.reason</div></li>
            <li>Target : @ViewBag.money</li>
        </ul>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
