@model api.Models.FunderCause

@{
    ViewData["Title"] = "CreateFunderCause";
    Layout = "~/Views/Shared/_LayoutSignIn.cshtml";
}

<h1>CreateFunderCause</h1>

<h4>FunderCause</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateFunderCause">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Pid" class="control-label"></label>
                <input asp-for="Pid" class="form-control" />
                <span asp-validation-for="Pid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cid" class="control-label"></label>
                <input asp-for="Cid" class="form-control" />
                <span asp-validation-for="Cid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fid" class="control-label"></label>
                <input asp-for="Fid" class="form-control" />
                <span asp-validation-for="Fid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
