
@{
    ViewData["Title"] = "About";
}

<h1>About</h1>
<p>Built with a vision to make our community stronger and help the working class!</p>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
